  .title,
  p,
  ul,
  ol {
    font-family: Tahoma, Sans-serif;
    text-align: center;
  }
  .title {
    color: rgb(22, 61, 46);
    font-size: 48px;
    font-weight: 350;
  }
  .subtitle {
    font-family:Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    color: rgb(22, 61, 46);
    font-size: 24px;
    font-weight: 350;
  }
  p,
  .link {
    color: rgb(0, 0, 0);
    font-size: 16px;
    text-align: center;
  }
  .linkimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
  }
  .img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
  }